<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AbuseAPI - Embed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">
</head>

<body>
<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: rgb(242,242,242);">
        <div class="container"><a class="navbar-brand" href="#">Abusive Message API&nbsp;</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/bulk">Bulk Entry</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/embed">Embed</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="highlight-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Test your Website for abuse</h2>
            <p>HTML Code:</p><code style="white-space: pre;">
            &lt;script src=&quot;http://localhost:5000/static/js/api.js&quot;&gt;&lt;/script&gt;
            &lt;script&gt;
                classify(&quot;hello world&quot;, 375, 1, function(data) {
                    alert(&quot;Abuse percentage: &quot; + data.result)
                });
            &lt;/script&gt;
        </code></div>
        <div class="buttons"><a class="btn btn-primary" role="button" onclick='classify("hello world", 375, 1, function(data) {
            alert("Abuse percentage: " + data.result)
            });'>Run demo</a><br/>
            Alternatively use the following endpoint: <code>http://localhost/api/classify?input=Hello%20World</code>
        </div>
    </div>
</div>
<!-- Load scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>