<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AbuseAPI - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">
</head>

<body>
<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: rgb(242,242,242);">
        <div class="container"><a class="navbar-brand" href="#">Abusive Message API&nbsp;</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/bulk">Bulk Entry</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/embed">Embed</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="highlight-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Enter a phrase to start testing:</h2><textarea class="text-input"
                                                                                   style="width: 100%;"
                                                                                   placeholder="I hate you Bob! "></textarea>
        </div>
        <div class="buttons"><a class="btn btn-primary test" role="button" href="#">Test&nbsp;</a></div>
    </div>
</div>
<div class="results" style="display: none;">
    <hr>
    <div class="container" style="margin-bottom: 10px;">
        <h1 class="text-center">Results<i class="progress-indicator fas fa-sync visible fa-spin"
                                          style="margin-left: 10px;"></i></h1>
        <canvas id="chart" style="display:none"></canvas>
        <div class="no-graph">
        <div class="results-avg">
        <span
                class="float-left" style="font-size: 10px;width: 100px;margin-bottom: 2px;">Average:&nbsp;</span>
            <div class="progress float-none">
                <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                    50%
                </div>
            </div>
            <div class="float-none clearfix"></div>
        </div>
        <div class="results-best">
            <span class="float-left" style="font-size: 10px;width: 100px;">Best (1 Layer, 375):&nbsp;</span>
            <div class="progress float-none">
                <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                    50%
                </div>
            </div>
            <div class="float-none clearfix"></div>
        </div>
            </div>
    </div>
    <div class="no-graph float-none" style="margin-bottom: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="text-center">1 Layer</h1>
                    <div style="margin-top: 2px;" class="layer-result result-1-75"><span class="float-left"
                                                                                         style="font-size: 10px;width: 20px;">75</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 2px;" class="layer-result result-1-150"><span class="float-left"
                                                                                          style="font-size: 10px;width: 20px;">150</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 2px;" class="layer-result result-1-300"><span class="float-left"
                                                                                          style="font-size: 10px;width: 20px;">300</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 2px;" class="layer-result result-1-375"><span class="float-left"
                                                                                          style="font-size: 10px;width: 20px;">375</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h1 class="text-center">2 Layer</h1>
                    <div style="margin-top: 2px;" class="layer-result result-2-75"><span class="float-left"
                                                                                         style="font-size: 10px;width: 20px;">75</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 2px;" class="layer-result result-2-150"><span class="float-left"
                                                                                          style="font-size: 10px;width: 20px;">150</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 2px;" class="layer-result result-2-300"><span class="float-left"
                                                                                          style="font-size: 10px;width: 20px;">300</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 2px;" class="layer-result result-2-375"><span class="float-left"
                                                                                          style="font-size: 10px;width: 20px;">375</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h1 class="text-center">4 Layer</h1>
                    <div style="margin-top: 2px;" class="layer-result result-4-75"><span class="float-left"
                                                                                         style="font-size: 10px;width: 20px;">75</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 2px;" class="layer-result result-4-150"><span class="float-left"
                                                                                          style="font-size: 10px;width: 20px;">150</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 2px;" class="layer-result result-4-300"><span class="float-left"
                                                                                          style="font-size: 10px;width: 20px;">300</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 2px;" class="layer-result result-4-375"><span class="float-left"
                                                                                          style="font-size: 10px;width: 20px;">375</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h1 class="text-center">8 Layer</h1>
                    <div style="margin-top: 2px;" class="layer-result result-8-75"><span class="float-left"
                                                                                         style="font-size: 10px;width: 20px;">75</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 2px;" class="layer-result result-8-150"><span class="float-left"
                                                                                          style="font-size: 10px;width: 20px;">150</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 2px;" class="layer-result result-8-300"><span class="float-left"
                                                                                          style="font-size: 10px;width: 20px;">300</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 2px;" class="layer-result result-8-375"><span class="float-left"
                                                                                          style="font-size: 10px;width: 20px;">375</span>
                        <div class="progress" style="opacity: 1;">
                            <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 50%;">50%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center"><a class="text-center switch" href="#">Switch to Graph View</a></div>
</div>
<!-- Load scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>